.jumbotron {
  margin: 20px auto 20px auto;
  width: 400px;
  text-align: center;
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

.table {
  margin-top: 10px;
}

.checked {
  color: crimson;
}
